.alert {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0;

    @include mobile {
        right: 0;
    }
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}