.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height:  $header-height;
    transition: height 0.3s ease;

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }
    
    .container{
        height: 100%;
    }

    &.shrink{
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

    }

    .header__logo{
        @include flex(center,center);
        position: absolute;
        inset: 0;
        pointer-events: none;

        img{
            height: 28px;
        }
    }

    .header__menu{
        @include flex(center,space-between);
        height: 100%;
        font-size: 1.5rem;

        .header__menu__item ~ .header__menu__item {
            margin-left: 39px;
            padding-left: 10px;

            @include tablet{
                margin-left: 20px;
            }

            @include mobile{
                margin-left: 10px;
            }
        }

        .header__menu__item.active{
            color: $main-color;
            font-weight: 600;
        }

        .header__menu__item:hover{
            color: $main-color;
        }

        .header__menu__left,
        .header__menu__right{
            @include flex(center,center);
            height: 100%;
        }

        .header__menu__right{
            font-size: 2.25rem;

            .header__menu__item{
                cursor: pointer;
                @include flex(center,center);
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }

        .header__menu__left{
            &__close{
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $main-bg;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition:  transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                .header__menu__left__item ~ .header__menu__left__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close{
                    display: block;
                    cursor: pointer;
                    position: absolute;
                    left: 20px;
                    font-size: 2.25rem;
                }

            }
        }

        .header__menu__mobile-toggle{
            display: none;

            @include tablet {
                display: block;
                cursor: pointer;
                font-size: 2.5rem;
            }
        }
    }
}