.product-view__modal{
    position: fixed;
    z-index: 101;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba($color: #000000, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;
    

    .product-view__modal__content{
        margin: auto;
        padding: 2rem;
        background-color: $main-bg;
        width: 70%;
        opacity: 0;
        position: relative;
        transform: translateY(-250px);
        transition: transform 0.5s ease;

        .product-view__modal__content__close{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }
}


.product-view__modal.active{
    opacity: 1;
    visibility: visible;
}

.product-view__modal.active > .product-view__modal__content{
    opacity: 1;
    transform: translateY(0);
}


