.product-card{
    text-align: center;
    margin-bottom: 30px;

    .product-card__image{
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            border-radius: 5px;

            &:nth-child(1) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.5s ease 
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(0);
                filter: blur(8px);
            }
        }

    }

    .product-card__image:hover img {
        &:nth-child(1) {
            transform: translateX(-50%) scale(0);
            filter: blur(8px);
        }

        &:nth-child(2) {
            transform: translateX(-50%) scale(1);
            filter: blur(0);
            transition: transform 0.8s ease
        }
    }

    .product-card__name{
        margin-bottom: 10px;
        color: $txt-main-color;
        font-size: 1.25rem;
        font-weight: normal;
    }

    .product-card__price{
        color: $txt-price ;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;

        .product-card__price__old{
            color: $txt-second-color;
            margin-left: 20px;
            font-weight: 300;
            font-size: 1.25rem;
        }
    }

    .product-card__btn{
        @include tablet {
            display: none;
        }
    }
}